body {
  background: linear-gradient(to bottom, #1702f5, #ba2323);
}
font-family: 'Permanent Marker', cursive;
font-family: 'Luckiest Guy', cursive;

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-button {
  display: block;
  cursor: pointer;
  padding: 20px;
  
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-icon {
  display: block;
  width: 20px;
  height: 5px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: transform 0.3s;
}

.menu {
  position: absolute;
  top: 40px;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  border-radius: 4px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
}

.menu li {
  padding: 10px;
}

.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .menu {
  transform: scaleY(1);
}

input[type="checkbox"]:checked ~ .menu-button .menu-icon {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .menu-button .menu-icon:first-child {
  transform: translateY(6px) rotate(-45deg);
}

input[type="checkbox"]:checked ~ .menu-button .menu-icon:last-child {
  transform: translateY(-6px) rotate(-45deg);
}
